@font-face {
  font-family: "SolaimanLipi";
  src: url("../fonts/SolaimanLipi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SutonnyMJ";
  src: url("../fonts/SUTOM___.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}
