table {
  width: 100%;
  border-radius: 0 0 7px 7px;
}

table,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  font-family: SolaimanLipi;
}
thead > tr {
  background-color: aqua;
  font-weight: bold;
}
td {
  font-size: large;
}
